h3 {
    color: green;
}

#Letras {
    background-color: lightgray
}

/* table {
    border: black solid;
    height: 500px;
    width: 20%;
} */

#cambiar{
    color: red;
    cursor: pointer;
    border: 2px solid black;
    width: 200px;
}

#datos{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgb(56, 56, 56);
    color: rgb(228, 228, 228);
    padding: 20px;
}

.integrante{
    text-align: center;
}

.integrante h5{
    margin: 25px 0;
}

.integrante p{
    margin: 1px 0;
}

#info-footer{
    margin-top: 20px;
    text-align: center;
}

nav div {
    background-color: lightgray;
    color: lightgray; 
}

/* nav div div{
    background-color: lightgray;
    color: lightgray;
} */

/* nav div div ul{
    background-color: lightgray;
    color: lightgray;
} */