body{
    background-color: burlywood;
}
h3 {
    color: green;

}
#cambiar{
    color: red;
    cursor: pointer;
    border: 2px solid black;
    width: 200px;
}
#datos{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgb(56, 56, 56);
    color: rgb(228, 228, 228);
    padding: 20px;
}

.integrante{
    text-align: center;
}

.integrante h5{
    margin: 25px 0;
}

.integrante p{
    margin: 1px 0;
}

#info-footer{
    margin-top: 20px;
    text-align: center;
}