body{
    background-color: blanchedalmond;
}

/* .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(27, 1fr);
    gap: 8px;
} */

/* #letras {
  display: flex;
flex-direction: row;
justify-content: space-evenly;
} */
        