body{
    background-color: rgb(94, 93, 93);
}
h3 {
    color: green;

}

/* .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(27, 1fr);
    gap: 8px;
} */

/* #letras {
  display: flex;
flex-direction: row;
justify-content: space-evenly;
} */
